<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

    <div class="navbar">
    </div>

    <div class="container">

      <div class="span12">

        <h1>When do we code?</h1>
        <p><blockquote class="lead">Programmers are machines that turn caffeine into code?</blockquote></p>
      </div>

      <div class="row">
        <h1 class="span6">Commit times histogram</h1>
      </div>

      <div class="row">
        <div id="histogram" class="span12"></div>
        <p>&nbsp;</p>

     <div class="row">
       <div class="span6 sharing-is-caring center">
          <div class="wrap"><a href="https://twitter.com/share"
             class="twitter-share-button" data-text="See when you work; for science!"
             data-via="Swizec">Tweet</a></div>
          <div class="wrap fb"><div class="fb-like" data-send="false" data-layout="button_count" data-width="120" data-show-faces="false"></div></div>
          <div class="wrap"><div class="g-plusone" data-size="medium" data-annotation="inline" data-width="120"></div></div>
        </div>

        <div class="span6 center">
          Change graph:
          <div id="graph-nav" class="btn-group">
            <a href="hours" class="btn" data-type="hours">Hour</a>
            <a href="days" class="btn" data-type="days">Days</a>
          </div>
        </div>
      </div>

      <div class="row">
        <p>&nbsp;</p>
      </div>

      <div class="row">
        <div class="span4">
          <h1>What's this?</h1>
          <p>Doing research for <a
          href="https://leanpub.com/nightowls">Why programmers work at
          night</a>, I analyzed <strong>504,015 Github
          repositories</strong>. You are looking at the histogram of their
          commit times.</p>
          <p>I have about 3GB of punchcard data on a hard drive in the
          cloud, I'm taking suggestions about what I should look into
          next :)</p>
        </div>

        <div class="span4">
          <h1>What's it mean?</h1>
          <p>It means programmers <em>do not</em> work at night. Well,
          some do, there's more than <strong>5,000,000 commits at midnight</strong>
          ... In general they like afternoons and evenings</p>
          <p>Commit volume <strong>peaks between 3pm and 4pm</strong> when people are
          getting off work, after that it drops dramatically but stays
          relatively high and level until midnight. Indicating a
          <em>lot</em> of work happens in early to late evening.</p>
          <p>If you find this stuff interesting, you should buy my
          book <a href="http://leanpub.com/nightowls">here</a></p>
        </div>

        <div class="span4">
          <iframe width="160" height="400"
                  src="https://leanpub.com/nightowls/embed"
                  frameborder="0" allowtransparency="true"
                  style="float: right"></iframe>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Copyright Swizec 2012</p>
        <p><a href="https://twitter.com/Swizec" class="twitter-follow-button" data-show-count="true">Follow @Swizec</a></p>
      </footer>

    </div>

    <script src="http://d3js.org/d3.v2.min.js"></script>
    <script src="http://underscorejs.org/underscore-min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/backbone-min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/histogram-graph.js"></script>
    <script src="/js/histogram-app.js"></script>


    <script>!function(d,s,id){var
    js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <script type="text/javascript">
      (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
    </script>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_PI/all.js#xfbml=1&appId=307049529309356";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1464315-19']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>

  </body>
</html>
